<div class="div-dialog" style="@visibility">

    <img class="img-celebration" src="Images/Shared/img_celebration.gif" />

    <h1>Congratulations</h1>
    <h2>You reached the toppest level</h2>

    <div class="div-close" @onclick='()=>RouteLayout.Router.NavigationTo("Home")'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>
        <b>Home</b>
    </div>

</div>