.div-dialog {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    animation-name: tutorial-loading;
    animation-direction: normal;
    animation-duration: 2.4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes tutorial-loading {
    from {
        background-color: rgba(65,65,65,0);
    }

    to {
        background-color: rgba(65,65,65,.7);
    }
}


.div-dialog p {
    margin-top: 40px;
    position: absolute;
    top:50%;
    margin-top:-80px;
    width: calc(100% - 30px);
    left:15px;
    text-align: left;
    font-family: 'inter-light';
    font-size: 12pt;
    color: #fff;
    opacity: 1;
}


/*Buttons*/
.div-no{
    position:absolute;
    height:80px;
    width:80px;
    top:50%;
    margin-top:30px;
    left:50%;
    margin-left:-105px;
    display:grid;
}
.div-yes {
    position: absolute;
    height: 80px;
    width: 80px;
    top: 50%;
    margin-top: 30px;
    left: 50%;
    margin-left:25px;
    display: grid;
}
.div-cancel {
    position: absolute;
    height: 80px;
    width: 80px;
    top: 50%;
    margin-top: -5px;
    left: 50%;
    margin-left:-40px;
    display: grid;
}

.div-dialog svg {
    height: 100%;
    width: 100%;
    position: relative;
}
.div-dialog b {
    color: #fff;
    justify-self: center;
    align-self: center;
    position: absolute;
    font-family: 'inter-light';
    font-size: 12pt;
}


.div-dialog div:active .cls-1 {
    fill: #00afda;
}
.cls-1 {
    fill: none;
    stroke: #00afda;
    stroke-miterlimit: 10;
    stroke-width: 20px;
}