<div class="div-body">

    <div class="div-answer">
        <div>
            <p>
                @Answer
            </p>
        </div>
    </div>

    <div class="div-btn btn1" @onclick='() => KeyBoardClicked("1")'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>

        <b>1</b>
    </div>

    <div class="div-btn btn13" @onclick='() => KeyBoardActionClick(ActionClickMode.BackSpace)'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>

        <img src="Images/KeyBoard/ic_backspace.svg" />
    </div>

    <div class="div-btn btn2" @onclick='() => KeyBoardClicked("2")'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>

        <b>2</b>
    </div>

    <div class="div-btn btn3" @onclick='() => KeyBoardClicked("3")'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>

        <b>3</b>
    </div>

    <div class="div-btn btn4" @onclick='() => KeyBoardClicked("4")'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>

        <b>4</b>
    </div>

    <div class="div-btn btn5" @onclick='() => KeyBoardClicked("A")'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>

       <b>A</b>
    </div>

    <div class="div-btn btn6" @onclick='() => KeyBoardClicked("5")'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>

        <b>5</b>
    </div>

    <div class="div-btn btn7" @onclick='() => KeyBoardClicked("6")'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>

        <b>6</b>
    </div>

    <div class="div-btn btn8" @onclick='() => KeyBoardClicked("8")'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>

        <b>8</b>
    </div>

    <div class="div-btn btn9" @onclick='() => KeyBoardClicked("7")'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>

        <b>7</b>
    </div>

    <div class="div-btn btn10" @onclick='() => KeyBoardClicked("9")'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>

        <b>9</b>
    </div>

    <div class="div-btn btn11" @onclick='() => KeyBoardClicked("B")'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>

        <b>B</b>
    </div>

    <div class="div-btn btn12" @onclick='() => KeyBoardClicked("0")'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>

        <b>0</b>
    </div>

    <div class="div-btn btn14" @onclick='() => KeyBoardActionClick(ActionClickMode.Enter)'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>

        <img src="Images/KeyBoard/ic_enter.svg" />
    </div>

</div>