<div class="div-body">

    <div class="div-btn btn1" @onclick="()=>CallAction(ActionType.Enter)">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>
        
        <img src="Images/KeyBoard/ic_enter.svg" />
    </div>

    <div class="div-btn btn2" @onclick="()=>OperatorAction('/')">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>

        <img src="Images/KeyBoard/ic_division.svg" />
    </div>

    <div class="div-btn btn3" @onclick="()=>CallAction(ActionType.BackSpace)">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>

        <img src="Images/KeyBoard/ic_backspace.svg" />
    </div>

    <div class="div-btn btn4" @onclick="()=>OperatorAction('*')">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>

        <img src="Images/KeyBoard/ic_multiply.svg" />
    </div>

    <div class="div-btn btn5" @onclick="()=>OperatorAction('+')">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>

        <img src="Images/KeyBoard/ic_plus.svg" />
    </div>

    <div class="div-btn btn6" @onclick="()=>OperatorAction('-')">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.08 493.25">
            <path class="cls-1" d="M123.91,432l-91-165.1a42,42,0,0,1,0-40.58l91-165.1a42,42,0,0,1,36.82-21.75H339.35a42,42,0,0,1,36.82,21.75l91,165.1a42,42,0,0,1,0,40.58l-91,165.1a42,42,0,0,1-36.82,21.75H160.73A42,42,0,0,1,123.91,432Z" />
        </svg>

        <img src="Images/KeyBoard/ic_negative.svg" />
    </div>

</div>